/* var.css */


:root {
  --vp-c-brand-1: #18794e;
  --vp-c-brand-2: #299764;
  --vp-c-brand-3: #30a46c;
}

.dark {
  --vp-c-brand-1: #a3507f;
  --vp-c-brand-2: #d468a5;
  --vp-c-brand-3: #ff7ec7;
}

/* -------------------------------
   按钮色彩
---------------------------------*/
:root {
  /* 浅色模式按钮 */
  --vp-button-brand-border: #299764;      /* 边框柔和青蓝 */
  --vp-button-brand-text: #ffffff;        /* 文字柔和白 */
  --vp-button-brand-bg: #18794e;          /* 主背景柔和青蓝 */

  --vp-button-brand-hover-border: #30a46c; /* hover 边框更深 */
  --vp-button-brand-hover-text: #322a2a;
  --vp-button-brand-hover-bg: #299764;     /* hover 背景柔和青蓝 */

  --vp-button-brand-active-border: #30a46c; 
  --vp-button-brand-active-text: #312828;
  --vp-button-brand-active-bg: #30a46c;    /* 按下效果更深青蓝 */
}

.dark {
  /* 深色模式按钮，深灰 + 柔和青蓝 */
  --vp-button-brand-border: #ff7ec7c6;       /* 边框柔和灰 */
  --vp-button-brand-text: #ffffff;         /* 文字淡灰 */
  --vp-button-brand-bg: #ff7ec763;           /* 深灰背景 */

  --vp-button-brand-hover-border: #ff7ec7; /* hover 青蓝边框 */
  --vp-button-brand-hover-text: #000000;
  --vp-button-brand-hover-bg: #ff7ec7c6;     /* hover 深青蓝 */

  --vp-button-brand-active-border: #ff7ec7; 
  --vp-button-brand-active-text: #000000;
  --vp-button-brand-active-bg: #ff7ec7;    /* 按下效果更深青蓝 */

}



.VPDoc h1 {
  background: -webkit-linear-gradient(60deg, var(--vp-c-brand-3) 5%, #bd34fe 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vp-doc a {
  text-decoration: none;
}

/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}